#seccion-album-container {
  display: inline-block;
  width: 32%;
  height: 100%;
  margin: 5px;
  border: 2pt solid rgb(219, 217, 217);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
  background: linear-gradient(346deg, rgba(198,209,211,1) 0%, rgba(224,231,232,1) 50%, rgba(255,255,255,1) 100%); 
}

.title-seccion {
  font-size: 16pt;
  font-weight: bold;
  color: #008C72;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 2px 2px;
  text-align: center;
  
}

#title-seccion-container {
  padding: 10px;
  border-radius: 10px;
  background: white;
}