#seccion-album-container {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  min-width: 330px;
  max-width: 350px;
  max-height: 400px;
  margin: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  background: #08182b;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -78px inset, rgba(0, 0, 0, 0.3) 0px 8px 36px -8px inset;
}

.title-seccion {
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-align: center;
  
}

#title-seccion-container {
  padding: 10px;
  border-radius: 10px;
  background: #087896;
  display: flex;
  flex: 1;
  justify-content: center;
}

#content-seccion {
  display: flex;
  
  overflow: scroll;
  flex-direction: column;
  min-width: 100%;
  max-height: 280px;
}