<div [@openClose]="isOpen ? 'open' : 'closed'" [ngClass]="contentPlate.metadata.isSpecial?'plate-envelope-special':'plate-envelope-standard'">
  <div class="header-plate">
    <p class="id-plate">{{contentPlate.metadata.numberPlate}}</p>
    <p class="name-plate">{{contentPlate.metadata.nameResource}}</p>
  </div>
  <div class="content-plate">
    <p class="seccion-plate">{{contentPlate.metadata.nameCategory}}</p>
  </div>
  <div class="footer-plate">
    <a class="btn-add">Añadir</a>
    <a class="btn-discard">Descartar</a>
  </div>
</div>