.plate-envelope-standard {
  min-width: 200px;
  min-height: 130px;
  border: 2pt solid rgb(112, 161, 163);
  margin: 5px;
  border-radius: 5px;
  background: rgba(69, 184, 172, .15);
  backdrop-filter: blur(5px);
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.plate-envelope-special {
  min-width: 200px;
  min-height: 130px;
  border: 2pt solid rgb(255, 158, 2);
  margin: 5px;
  border-radius: 5px;
  background: rgba(245, 168, 44, 0.8);
  backdrop-filter: blur(15px);
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  box-shadow: rgba(255, 196, 83, 0.7) 0px 5px 15px;
}

.header-plate {
  display: flex;
}

.id-plate-standard {
  font-size: 15pt;
  margin: 5px;
  color: aquamarine;
}

.id-plate-special {
  font-size: 15pt;
  margin: 5px;
  color: #11303f;
}

.name-plate-standard {
  font-size: 15pt;
  margin: 5px;
  color: rgb(112, 161, 163);
}

.name-plate-special {
  font-size: 15pt;
  margin: 5px;
  color: #fff;
}

.content-plate {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.seccion-plate-standard {
  min-width: 120px;
  font-size: 15pt;
  margin: 5px;
  color: rgb(112, 161, 163);
}

.seccion-plate-special {
  min-width: 120px;
  font-size: 15pt;
  margin: 5px;
  color: #11303f;
}

.footer-plate {
  display: flex;
  min-height: 15px;
  justify-content: center;
  align-items: center;
}

.btn-add-standard {
  color: aquamarine;
}

.btn-add-special {
  color: #fff;
}

.btn-discard-standard {
  color: rgba(250, 165, 53, 0.938);
}

.btn-discard-special {
  color: red;
}