#plates-container {
  min-height: 170px;
  
  display: flex;
  padding: 5px;
  justify-content: center;
}

.plate-envelope {
  
  margin: 5px;
  border-radius: 5px;
  background: rgba(69, 184, 172, .15);
  backdrop-filter: blur(5px);
  
}