#main-container {
  width: 90%;
  height: 700px;
  margin: auto;
  background-color: white;
  margin-top: 13px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 25px;
}