header {
  width: 90%;
  height: auto;
  margin: 10px auto;
}

#main-container {
  height: auto;
  width: 90%;
  margin: auto;
  background-color: #0c1e34;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 25px;
  /* overflow: scroll; */
}

#header-main-container {
  height: 7%;
  padding: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#title-main-container {
  color: white;
  flex: 1;
}

#content-main {
  margin: 10px;
}

/* @media (min-width: 300px) {
  #header-main-container {
    height: 5%;
  }

  #title-main-container {
    font-size: 8pt;
  }
}

@media (min-width: 880px) {
  #header-main-container {
    height: 7%;
  }

  #title-main-container {
    font-size: 14pt;
  }
} */