#header-envelope {
  background: #142b47;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 97%;
  height: 40%;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.envelope {
  width: 25%;
  min-width: 150px;
}

img {
  height: auto;
  max-width: 100%;
}

img:hover {
  -webkit-filter: drop-shadow(5px 5px 15px rgba(208, 208, 208, 0.35));
  filter: drop-shadow(5px 5px 15px rgba(208, 208, 208, 0.35));
  cursor: pointer;
}