#header-envelope {
  background: #142b47;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 97%;
  height: 40%;
  margin: auto;
  display: inline-block;
  padding-left: 34px;
}

.envelope {
  width: 25%;
  display: inline-block;
  padding-top: 57px;
}

img {
  width: 250px;
  height: auto;
}

img:hover {
  -webkit-filter: drop-shadow(5px 5px 15px rgba(208, 208, 208, 0.35));
  filter: drop-shadow(5px 5px 15px rgba(208, 208, 208, 0.35));
  cursor: pointer;
}