header {
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 10px;
}

img {
  margin: auto;
  width: 100px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: inline-block;
}

h1 {
  display: inline-block;
  margin-left: 13px;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#logo-container {
  margin: auto;
  width: auto;
  height: auto;
}