.plate {
  display: flex;
  min-height: 150px;
  min-width: 280px;
  margin: 8px;
  background: rgba(69, 184, 172, .15);
  backdrop-filter: blur(5px);
  border: 2pt solid rgb(112, 161, 163);
  border-radius: 5px;
}