.plate {
  display: flex;
  min-height: 80px;
  margin: 8px;
  background: rgba(69, 184, 172, .15);
  backdrop-filter: blur(5px);
  border: 2pt solid rgb(112, 161, 163);
  border-radius: 5px;
  flex-wrap: wrap;
}

.plate-envelope-standard {
  border: 2pt solid rgb(112, 161, 163);
  background: rgba(69, 184, 172, .15);
  backdrop-filter: blur(5px);
}

.plate-envelope-special {
  border: 2pt solid rgb(255, 158, 2);
  background: rgba(245, 168, 44, 0.8);
  backdrop-filter: blur(15px);
  box-shadow: rgba(255, 196, 83, 0.7) 0px 5px 15px;
}

.header-plate {
  display: flex;
  min-width: 100%;
}

.id-plate-standard {
  font-size: 15pt;
  margin: 5px;
  color: aquamarine;
}

.id-plate-special {
  font-size: 15pt;
  margin: 5px;
  color: #11303f;
}

.name-plate-standard {
  font-size: 15pt;
  margin: 5px;
  color: rgb(112, 161, 163);
}

.name-plate-special {
  font-size: 15pt;
  margin: 5px;
  color: #fff;
}

.content-plate {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  min-width: 200px;
}

.btn-plate {
  cursor: pointer;
  font-size: 12pt;
  margin: 5px;
}

.seccion-plate-standard {
  color: rgb(112, 161, 163);
}

.seccion-plate-special {
  color: #11303f;
}