<div class="plate" [ngClass]="contentPlate.metadata.isSpecial?'plate-envelope-special':'plate-envelope-standard'">
  <div class="header-plate">
    <p [ngClass]="contentPlate.metadata.isSpecial?'id-plate-special':'id-plate-standard'">{{contentPlate.metadata.numberPlate}}</p>
    <p [ngClass]="contentPlate.metadata.isSpecial?'name-plate-special':'name-plate-standard'">{{contentPlate.metadata.nameResource}}</p>
  </div>
  <div class="content-plate">
    <a class="btn-plate" *ngIf="contentPlate.metadata.isAdded" [ngClass]="contentPlate.metadata.isSpecial?'seccion-plate-special':'seccion-plate-standard'">Ver más</a>
  </div>
</div>