/* You can add global styles to this file, and also import other style files */

* {
  padding: 0px;
  margin: 0px;
}

html {
  /* background-image: url('./assets/background.webp'); */
  background: #f5f6f7;
}